<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <!-- To customize the asp.net core module uncomment and edit the following section. 
           For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="aspNetCore" />
      <remove name="WebDAV" />
      <!-- I removed the following handlers too, but these
                   can probably be ignored for most installations -->
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />

      <add name="aspNetCore"
           path="*"
           verb="*"
           modules="AspNetCoreModuleV2"
           resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath=".\GreenSharingAPI.exe" arguments="" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        <environmentVariable name="ADMIN_BEARER_KEY" value="fVCikfhA64mvCcGpQ-FeK1pXK-4QpWPDYbDjJPPOg3zyl-SZvkdp-NPquLBp6KmUDoRFIZLOgAeK3yDCijhLACyFh8shem6jNSOLjK27zWcUGK-E6lbHPHmEqY29BBy4FDYBRPOQlfBmGsR-lYvN0pve5kUkHUYaBqTKr53CKdUNjiLS5p2XKl0kaCDP7dLmcAQcLh3E6f-tpst9c8sVTEAojU0XWp2_nus5_YScnAUF-byQ7uZ78G0my2uvCtuj-7fI7pQG7svhPHEvTsIM-g5_vlknYz6gxi9HL0rH75UaVjA67Pa-zeFEZBLgouZwC-APY5AXHREHD9wDxo42kQ" />
      </environmentVariables>
    </aspNetCore>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>