<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <!-- To customize the asp.net core module uncomment and edit the following section. For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="aspNetCore" />
      <remove name="WebDAV" />
      <!-- I removed the following handlers too, but these can probably be ignored for most installations -->
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />

      <add name="aspNetCore"
           path="*"
           verb="*"
           modules="AspNetCoreModuleV2"
           resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath=".\GreenSharing.API.exe" arguments="" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        <environmentVariable name="MORGANSTANLEY_BEARER_KEY" value="kBeQcs5eU1yH8vcEQuQq7mgVlhyj07B621x_fbIt09lDG_by3h7cZCUViptxdNkmhbpwxr9f7APysptcKhF7VLq9dfzCVi-gDmyXadt_XzYx9hByJVJpMQ9lA-hX5_5Vh54b_Dg3ApLBCGybY81-BS0x5jOxt7ga3Wzm5zXKVHLNWuwQgXJe0_a0AEj96iBfZNtq36dw301CReTz2A1xrs-WKRP14Wwm9iOYQtq_DB-ICr0SSBFUIJpop3gcUDiw3gSUahwGgbjIJKpk_fFCqcIPNqqlsjU-67imyP2rbEsK5AjqOxau8k0R3uXfl0wJDrL7wuIPlYZZbjK0m-BU0Q" />
      </environmentVariables>
    </aspNetCore>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>